<!-- a web page to display the registration page  -->

<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
  .container
  {
    width: 28%;
  }
        #overlay_for_password, #overlay_for_waiting, #overlay_duplicate_email
      {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: none;
        background-color: rgba(0,0,0,0.8);
        cursor: pointer;
        z-index: 40
      }
      #text_for_password, #text_for_waiting, #text_duplicate_email
      {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: black;
        background-color: white;
        padding: 2% 4%;

        text-align: center;
        font-size: 15px
      }
</style>
<script type="text/javascript">
  
      function validate()
      {
        if(document.getElementById('password_register').value != document.getElementById('retype_password_register').value)
        {
          document.getElementById('overlay_for_password').style.display="block";
        }
        else
        {
        var data={};
        data.email = document.getElementById('email_register').value;
        data.password = document.getElementById('password_register').value;
        var Role= document.getElementsByName('Role');
        if(Role[0].checked)
        {
          data.role= 'student';
        }
        if(Role[1].checked)
        {
          data.role= 'teacher';
        }
        data.first_name= document.getElementById('first_name').value;
        data.last_name= document.getElementById('last_name').value;
        document.getElementById('overlay_for_waiting').style.display="block";
          var xhttp;
          if(window.XMLHttpRequest)
          {
            xhttp = new XMLHttpRequest();
          }
          else
          {
            xhttp = new ActiveXObject('Microsoft.XMLHTTP');
          }
          xhttp.open('post','http://localhost:5000/registration', true);
          xhttp.setRequestHeader('content-type','application/json');
          xhttp.send(JSON.stringify(data));
          console.log(JSON.stringify(data));

          xhttp.onreadystatechange = function()
          {
            if(this.readyState==4)
            {
              console.log(this.responseText);
              var y = JSON.parse(this.responseText);
              if(y.success == true)
              {
                document.location.href='http://localhost:5000/'+y.role;
              }
              if(y.success == false)
              {
                $('#overlay_for_waiting').click();
                document.getElementById('text_duplicate_email').innerHTML= 'The specified email address is already <br>registered as '+y.role;
                setTimeout(function(){document.getElementById('overlay_duplicate_email').style.display="block";},100);
              }
            }
          }
        }
        return false;
      }

</script>
<body>

<div>
  <p style="text-align:center;margin-top:80px">Create an account</p>
  <div class="container">
  <form action="#" onsubmit="return validate()">
  <div class="panel-group">
      <div class="panel panel-default" style="border-radius:0">   
        <div class="panel-body">   
          <br>
          <div style="text-align:center;">
             <label><input  type="radio" name="Role" value="student" checked/> &nbsp;Student</label> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
           
             <label><input type="radio" name="Role" value="teacher"/>&nbsp; Teacher </label>
          </div> 
          <br> 
          <div class="row">
              <div class="col-sm-1" col-xs-0></div>
              <div class="col-sm-10 col-xs-12">
              <div class="form-group has-feedback">
                <label for="first_name" class="control-label" style="color:#666666">* First Name:</label><br>
                <input type="text" id="first_name" name="first_name" class="form-control" style="border-radius: 0;" title="Your First Name" required="required" autocomplete="off">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
              </div>
              </div>
              <div class="col-sm-1 col-xs-0"></div>
          </div>

          <div class="row">
              <div class="col-sm-1" col-xs-0></div>
              <div class="col-sm-10 col-xs-12">
              <div class="form-group has-feedback">
                <label for="last_name" class="control-label" style="color:#666666">* Last Name:</label><br>
                <input type="text" id="last_name" name="last_name" class="form-control" style="border-radius: 0;" title="Your Last Name" required="required" autocomplete="off">
                <i class="fa fa-shield form-control-feedback" aria-hidden="true"></i>
              </div>
              </div>
              <div class="col-sm-1 col-xs-0"></div>
          </div>

          <div class="row">
              <div class="col-sm-1" col-xs-0></div>
              <div class="col-sm-10 col-xs-12">
              <div class="form-group has-feedback">
                <label for="email_register" class="control-label" style="color:#666666">* Email:</label><br>
                <input type="email" id="email_register" name="email_register" class="form-control" style="border-radius: 0;" title="Your Email Address" required="required" autocomplete="off">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
              </div>
              </div>
              <div class="col-sm-1 col-xs-0"></div>
          </div>

          <div class="row">
            <div class="col-sm-1" col-xs-0></div>
            <div class="col-sm-10 col-xs-12">
              <div class="form-group has-feedback">
                <label for="password_register" class="control-label" style="color:#666666">* Password :</label><br>
                <input type="password" id="password_register" name="password_register" class="form-control" style="border-radius: 0;" required="required" pattern="[a-zA-Z0-9!@#$%^&*]{7,15}$" title="Allowed characters are A-Z a-z 0-9 !@#$%^&* and Min-7, Max-15 characters.">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
              </div>
            </div>
            <div class="col-sm-1 col-xs-0"></div>
          </div>

          <div class="row">
            <div class="col-sm-1" col-xs-0></div>
            <div class="col-sm-10 col-xs-12">
              <div class="form-group has-feedback">
                <label for="retype_password_register" class="control-label" style="color:#666666">* Retype Password :</label><br>
                <input type="password" id="retype_password_register" name="retype_password_register" class="form-control" style="border-radius: 0;" required="required" pattern="[a-zA-Z0-9!@#$%^&*]{7,15}$" title="Allowed characters are A-Z a-z 0-9 !@#$%^&* and Min-7, Max-15 characters.">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
              </div>
            </div>
            <div class="col-sm-1 col-xs-0"></div>
          </div>
          <br>

          <button type="submit" class="btn btn-primary" style="border-radius:0;margin-right: 33px;float:right;">&nbsp;&nbsp;Register</button>
           <br><br><br>   
        </div>
      </div>
  </div>
</form>
</div>
</div>
<div id="overlay_for_waiting" onclick="off_for_waiting()">
  <div id="text_for_waiting"><i class='fa fa-spinner fa-pulse fa-2x fa-fw'></i>&nbsp;&nbsp;&nbsp;<h3 style="display:inline;">Processing</h3>
  </div>
</div>

<div id="overlay_for_password" onclick="off_for_password()">
  <div id="text_for_password" style="text-align:center">Password and Retype password<br> fields are not same !
  </div>
</div>

<div id="overlay_duplicate_email" onclick="off_duplicate_email()">
  <div id="text_duplicate_email">The specified email address is <br> already registered !
  </div>
</div>

<script>
    function off_for_waiting()
  {
    document.getElementById("overlay_for_waiting").style.display = "none"; 
  }
    function off_for_password()
  {
    document.getElementById("overlay_for_password").style.display = "none"; 
  }
    function off_duplicate_email()
  {
    document.getElementById("overlay_duplicate_email").style.display = "none"; 
  }

</script>
</body>
</html>